@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background:#000000 ;
    color:#05d3f8 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    background: #ffffff;
    padding: 20px; 
    border-radius: 5px;
    transform-style: preserve-3d;
    box-shadow: 12px 12px 2px 1px rgba(21, 239, 239, 0.968);


}
